<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electricity Consumption Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Electricity Consumption Dashboard</h1>
    <div id="plot1"></div>
    <div id="plot2"></div>
    <div id="plot3"></div>
    <div id="plot4"></div>

    <script>
        var plot1 = JSON.parse('{{ plot1JSON | safe }}');
        var plot2 = JSON.parse('{{ plot2JSON | safe }}');
        var plot3 = JSON.parse('{{ plot3JSON | safe }}');
        var plot4 = JSON.parse('{{ plot4JSON | safe }}');

        Plotly.newPlot('plot1', plot1.data, plot1.layout);
        Plotly.newPlot('plot2', plot2.data, plot2.layout);
        Plotly.newPlot('plot3', plot3.data, plot3.layout);
        Plotly.newPlot('plot4', plot4.data, plot4.layout);
    </script>
</body>
</html>